<%- include("partials/header.ejs") %>
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/">Milano Cooking Classes</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="/cookingClasses" class="nav-link">Corsi di cucina</a></li>
            <li class="nav-item"><a href="/personalChefs" class="nav-link">Chef a domicilio</a></li>
            <li class="nav-item"><a href="/cookingTeamBuilding" class="nav-link">Cooking team building</a></li>
            <li class="nav-item"><a href="/recipes" class="nav-link">Ricette</a></li>
            <%if(locals.user) { %>
              <li class="nav-item active"><a href="/logout" class="nav-link">Logout</a></li>
            <% }else{ %>
              <li class="nav-item active"><a href="/login" class="nav-link">Login</a></li>
            <% } %>
	          <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
	          <li class="nav-item cta"><a href="/payment" class="nav-link">Pay</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_3.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate text-center mb-4">
            <h1 class="mb-2 bread"><%= post.title%></h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="blog.html">Blog <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog Single<i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section">
			<div class="container">
				<div class="row">
          <div class="col-lg-8 ftco-animate">
            <h2 class="mb-3"><%= post.subtitle %></h2>
            <% if(user && user.role === "admin") {%>
              <a href=<%= `/delete?id=${post.id}` %> class="me-4 thumbnail">
                <button type="submit" class="btn btn-primary">✘</button>
              </a>
            <% } %>
            <br>
            <br>

            <%- post.body %>
            <br>
            <p>
              <img src=<%= post.img_url %> alt="" class="img-fluid">
            </p>

            <br>

            <% if(user && user.role === "admin") {%>
              <a href=<%= `/edit?id=${post.id}` %> class="me-4 thumbnail">
                <button type="submit" class="btn btn-primary">Edit</button>
              </a>
            <% } %>
            <br>
            <br>
            
            <div class="about-author d-flex p-4 bg-light">
              <div class="bio mr-5">
                <img src="images/person_1.jpg" alt="Image placeholder" class="img-fluid mb-4">
              </div>
              <div class="desc">
                <h3>Share your thoughts below!</h3>
                <p>We appreciate feedback from our customers! And give them utmost recognition. Remember to log in yourself to comment.</p>
              </div>
            </div>

            

            <div class="pt-5 mt-5">
              <h3 class="mb-5 h4 font-weight-bold p-4 bg-light"><%= locals.comments.length > 0 ? locals.comments.length + " Comments" : "Be the first one to comment!"%> </h3>
              
              <div class="comment-form-wrap pt-5">
                <form action=<%= `/add-comment?id=${post.id}` %> method="post" class="p-4 p-md-5 bg-light">
                  
                  <div class="form-group">
                    <label for="content_body">Message</label>
                    <textarea name="content_body" id="content_body" cols="15" rows="10" class="form-control" required></textarea>
                  </div>
                  <div class="form-group">
                    <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                  </div>
  
                </form>
              </div>
              <br>

              <ul class="comment-list">
                <% locals.comments.forEach(comment => { %>
                <li class="comment">
                  <div class="vcard bio">
                    <img src=<%= `${comment.grav_url}` %> alt="Image placeholder">
                  </div>
                  <div class="comment-body">
                    <h3><%= comment.name %></h3>
                    <div class="meta mb-2"><%= comment.date %></div>
                    <p><%= comment.content %></p>
                  </div>
                </li>
                <% }); %>

              </ul>
              <!-- END comment-list -->
            </div>
          </div> <!-- .col-md-8 -->

          <div class="col-lg-4 sidebar ftco-animate">
            <div class="sidebar-box">
              
            </div>
            <div class="sidebar-box ftco-animate">
            	<h3>Category</h3>
              <ul class="categories">
                <li><a href="/cookingClasses">Cooking Classes</a></li>
                <li><a href="/personalChefs">Personal Chefs</a></li>
                <li><a href="/cookingTeamBuilding">Cooking Team Building</a></li>
                <li><a href="/recipes">Recipes</a></li>
              </ul>
            </div>

          </div><!-- END COL -->
        </div>
			</div>
		</section>
		
    <%- include("partials/footer.ejs") %>