<%- include("partials/header.ejs") %>
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/">Milano Cooking Classes</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="/cookingClasses" class="nav-link">Corsi di cucina</a></li>
            <li class="nav-item"><a href="/personalChefs" class="nav-link">Chef a domicilio</a></li>
            <li class="nav-item"><a href="/cookingTeamBuilding" class="nav-link">Cooking team building</a></li>
            <li class="nav-item"><a href="/recipes" class="nav-link">Ricette</a></li>
            <%if(locals.user) { %>
              <li class="nav-item active"><a href="/logout" class="nav-link">Logout</a></li>
            <% }else{ %>
              <li class="nav-item active"><a href="/login" class="nav-link">Login</a></li>
            <% } %>
	          <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
	          <li class="nav-item cta"><a href="/payment" class="nav-link">Pay</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_3.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate text-center mb-4">
            <h1 class="mb-2 bread"><%= locals.heading %></h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span><%= locals.heading %> <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section bg-light">
			<div class="container">
				<div class="row">

          <% for(let i = 0; i < locals.posts.length; i++) {%>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href=<%= `/see-post?id=${posts[i].id}` %> class="block-20" style="background-image: url(<%= posts[i].img_url %>);">
              </a>
              <div class="text pt-3 pb-4 px-4">
                <div class="meta">
                  <div><a><%= posts[i].date %></a></div>
                  <div><a><%= locals.author.name %></a></div>
                </div>
                <h3 class="heading"><a href=<%= `/see-post?id=${posts[i].id}` %> > <%= posts[i].title %></a></h3>
                <p class="clearfix">
                  <a href=<%= `/see-post?id=${posts[i].id}` %> class="float-left read">Read more</a>
                  <a class="float-right meta-chat"><span class="icon-chat"></span></a>
                </p>
              </div>
            </div>
          </div>
          <% } %>
        </div>
			</div>
		</section>
		
    <%- include("partials/footer.ejs") %>